{{ if type == 'hero' }}
  {{ partial:components/media/hero :image="image" :title="title" :hero_editor_content="hero_editor_content" }}
{{ /if }}

{{ if type == 'visual' }}
  {{ partial:components/media/visual :image="image" }}
{{ /if }}

{{ if type == 'teaser_lost_and_found' }}
  {{ partial:components/teaser/lost-and-found }}
{{ /if }}

{{ if type == 'teaser_bus_routes' }}
  {{ partial:components/teaser/bus-routes }}
{{ /if }}

{{ if type == 'title_text' }}
  {{ partial:components/misc/title-text }}
{{ /if }}

{{ if type == 'jobs' }}
  {{ partial:components/misc/jobs }}
{{ /if }}

{{ if type == 'benefits' }}
  {{ partial:components/misc/benefits }}
{{ /if }}

{{ if type == 'bus_routes' }}
  {{ partial:components/misc/bus-routes }}
{{ /if }}

{{ if type == 'lost_and_found' }}
  {{ partial:components/misc/lost-and-found }}
{{ /if }}

{{ if type == 'about_us' }}
  {{ partial:components/misc/about-us }}
{{ /if }}

{{ if type == 'media' }}
  {{ partial:components/misc/media }}
{{ /if }}

{{ if type == 'contact' }}
  {{ partial:components/misc/contact }}
{{ /if }}



