@theme {
  --color-white: #FFFFFF;
  --color-light-grey: #F4F5F9;
  --color-light-grey-bg: #F0F1F5;
  --color-dark-grey: #C7C6C6;
  --color-black: #1A1A1A;
  --color-light-blue: #CAE0F4;
  --color-blue-primary: #02529F;
  --color-blue-gray: #4A5269;
  --color-blue-black: #14244E;
  --color-error: #EB0000;
  --color-success: #16A34A;
}
