{{#
  @name Button Primary
  @param {string} href - Link URL
  @param {string} variant - Button variant: 'primary' (default) or 'light'
  @param {string} class - Additional classes
#}}

<a
  href="{{ href }}"
  class="
    inline-flex
    items-center
    justify-center
    pl-8
    pr-28
    py-8
    md:pl-12
    md:pr-36
    md:py-10
    font-medium
    transition-all
    duration-300
    [clip-path:polygon(0%_0%,100%_0%,calc(100%-1.2rem)_100%,0%_100%)]
    md:[clip-path:polygon(0%_0%,100%_0%,calc(100%-1.6rem)_100%,0%_100%)]
    {{ variant == 'dark' ?= 'bg-blue-primary text-white hover:bg-blue-black' }}
    {{ variant == 'light' ?= 'bg-white text-black hover:bg-black hover:text-white' }}
    {{ class }}">
  {{ slot }}
</a>
