@import "tailwindcss";
@import "./theme/colors.css";
@import "./theme/fonts.css";
@import "./theme/spacing.css";
@import "./animations.css";

@source "../views";
@source "../../content";

@layer base {
  :root {
    --diagonal-offset: 60px;
  }
}

@theme {
  --max-width-outer-container: 115rem; /* 1920px */
  --max-width-inner-container: 90rem; /* 1600px */
}

[x-cloak] {
  @apply !hidden;
}


.debug-grid {
  @apply bg-yellow-50/50;
}

.debug-grid > * {
  @apply outline outline-1 outline-yellow-500/50;
}

article a {
  @apply font-semibold underline underline-offset-4 text-blue-black hover:text-blue-primary hover:no-underline
}

article p:not(:last-of-type) {
  @apply mb-12 xl:mb-20
}

article ul {
  @apply list-disc m-0 ml-16;
}

article li {
  @apply my-2;
}

article li p {
  @apply inline;
}

/* Hero slanted box - consistent angle via skewX */
.hero-slant {
  --slant-angle: -25deg;
  isolation: isolate;
}

.hero-slant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-light-blue);
  z-index: -1;
  transform: skewX(var(--slant-angle));
  transform-origin: left;
}

.hero-slant::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -100px;
  bottom: 0;
  z-index: -1;
  width: 100%;
  background-color: var(--color-light-blue);
}




