@import "tailwindcss";

@import "./theme/colors.css";
@import "./theme/fonts.css";
@import "./theme/spacing.css";

@source "../views";
@source "../../content";

@layer base {
  :root {
    --diagonal-offset: 60px;
  }
}

@theme {
  --max-width-container: 100rem; /* 1600px */
}

[x-cloak] {
  @apply !hidden;
}

.debug-grid {
  @apply bg-yellow-50/50;
}

.debug-grid > * {
  @apply outline outline-1 outline-yellow-500/50;
}
