@import "tailwindcss";
@import "./theme/colors.css";
@import "./theme/fonts.css";
@import "./theme/spacing.css";
@import "./animations.css";

@source "../views";
@source "../../content";

@layer base {
  :root {
    --diagonal-offset: 60px;
  }
}

@theme {
  --max-width-outer-container: 115rem; /* 1920px */
  --max-width-inner-container: 90rem; /* 1600px */
}

[x-cloak] {
  @apply !hidden;
}


.debug-grid {
  @apply bg-yellow-50/50;
}

.debug-grid > * {
  @apply outline outline-1 outline-yellow-500/50;
}

article ul {
  @apply list-disc m-0 ml-16;
}

article li {
  @apply my-2;
}

article li p {
  @apply inline;
}




