<svg class="w-30 h-30 {{ class }}" viewBox="0 0 32 61" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M31 44.8437L16 55.6458L1 44.8437V30.2292L16 1L31 30.2292V44.8437Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 21.3333V59.4583" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 43.362L7.25 37.0078" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 43.362L24.75 37.0078" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 33.1953L10.165 28.9583" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 33.1953L21.8325 28.9583" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>