<svg class="w-24 h-24 {{ class }}" viewBox="0 0 62 62" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M38.4585 19.0833L34.5835 13.9063L38.4585 10.0313L41.0418 6.15628H44.9168L48.7918 10.0313H53.9585L57.8335 13.9063L53.9585 19.0833H38.4585Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 60.4063H60.4167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M34.5835 50.0833V60.4063" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M50.0835 50.0833V60.4063" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M29.417 50.0833H55.2503" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.917 60.4064V50.073" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.9167 50.073L4.875 43.6147L13.9167 1L22.9583 43.6147L13.9167 50.073Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>