<svg class="w-24 h-24 {{ class }}" viewBox="0 0 59 62" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M52.667 43.625L44.917 47.5L37.167 43.625V34.5833L44.917 30.7083L52.667 34.5833V43.625Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M37.167 34.5833L43.6253 37.1667H52.667" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M57.8333 60.4167V53.9583L44.9167 50.0833L32 53.9583V60.4167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M44.917 55.25V60.4167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.667 43.625L13.917 47.5L6.16699 43.625V34.5833L13.917 30.7083L21.667 34.5833V43.625Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6.16699 34.5833L12.6253 37.1667H21.667" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.8333 60.4167V53.9583L13.9167 50.0833L1 53.9583V60.4167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.917 55.25V60.4167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M37.167 13.9167L29.417 17.7917L21.667 13.9167V4.875L29.417 1L37.167 4.875V13.9167Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.667 4.875L28.1253 8.75H37.167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.5 26.8333V24.25L29.4167 20.375L42.3333 24.25V26.8333" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M29.417 25.5417V29.4167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>