<svg class="w-24 h-24 {{ class }}" viewBox="0 0 31 54" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M29.4167 1H1V52.6667H29.4167V1Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 42.3334H29.4167" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.916 47.5H16.4993" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
</svg>