<svg class="w-24 h-24 {{ class }}" viewBox="0 0 62 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M50.0833 34.5834V50.0834H1V6.16669H50.0833V19.0834" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M55.2497 34.5834V44.9167H50.083" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M1 6.16667L7.45833 1H55.25V19.0833" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M44.916 26.8334H47.4993" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M42.3333 34.5834H60.4167V19.0834H42.3333L35.875 26.8334L42.3333 34.5834Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
</svg>