<section class="py-20 md:py-40 xl:py-80 bg-light-grey-bg">

  {{ partial:layout/container class="max-w-inner-container" }}

    {{ if benefits_title }}
      {{ partial:components/headings/h2 class="text-xl md:text-3xl xl:text-4xl 2xl:text-5xl font-medium mb-16 md:mb-24 lg:mb-36" }}
        {{ benefits_title }}
      {{ /partial:components/headings/h2 }}
    {{ /if }}

    {{ if benefits_items }}
      {{ partial:components/misc/icon-set :items="benefits_items" }}
    {{ /if }}

  {{ /partial:layout/container }}

</section>