<section class="my-40 md:my-80 xl:my-120">

  {{ partial:layout/container class="max-w-inner-container" }}

    <div class="md:max-w-[80%] xl:max-w-[70%]">

      {{ if title_text_title }}
        {{ if title_text_heading_type == 'h2' }}
          {{ partial:components/headings/h2 class="mb-12 lg:mb-16" }}
            {{ title_text_title }}
          {{ /partial:components/headings/h2 }}
        {{ else }}
          {{ partial:components/headings/h1 }}
            {{ title_text_title }}
          {{ /partial:components/headings/h1 }}
        {{ /if }}
      {{ /if }}

      {{ if title_text_editor_content }}
        {{ partial:layout/article }}
          {{ title_text_editor_content }}
        {{ /partial:layout/article }}
      {{ /if }}

    </div>

  {{ /partial:layout/container }}

</section>