{{#
  @name Hero
  @param {object} image - Hero background image asset
  @param {string} title - Hero headline text (optional)
  @param {string} hero_editor_content - Hero body content
  @param {string} class - Additional classes
#}}

<div class="relative w-full bg-white sm:mb-100 md:mb-140 xl:mb-200">

  <div class="relative w-full animate-fade-in">
    {{ partial:components/media/image
      :image="image"
      :sizes="['md', 'lg', 'xl', '2xl']"
      preset="hero"
      class="w-full h-full aspect-[16/9] md:aspect-[16/8] xl:aspect-[16/6] 2xl:aspect-[16/5] object-cover"
      eager="true"
    }}
  </div>

  <div
    class="
      hero-slant
      relative
      sm:absolute
      sm:-bottom-60
      xl:-bottom-90
      left-0
      w-full
      max-w-[calc(95vw-var(--spacing-30))]
      sm:max-w-[calc(70vw-var(--spacing-30))]
      md:max-w-[calc(50vw-var(--spacing-30))]
      pl-16
      md:pl-24
      md:pr-48
      py-24
      xl:py-40
      xl:pl-[calc(max((100vw-var(--max-width-inner-container))/2,0px)+var(--spacing-42))]
      md:animate-slide-in">

    <div class="relative z-10 text-blue-black hyphens-auto pr-48 md:pr-24">

      {{ if title }}
        {{ partial:components/headings/h1 }}
          {{ title }}
        {{ /partial:components/headings/h1 }}
      {{ /if }}

      {{ if hero_editor_content }}
        {{ hero_editor_content }}
      {{ /if }}

    </div>

  </div>
</div>