{{#
  @name Hero
  @param {object} image - Hero background image asset
  @param {string} title - Hero headline text (optional)
  @param {string} hero_editor_content - Hero body content
  @param {string} class - Additional classes
#}}

<div class="relative w-full bg-white sm:mb-100 md:mb-140 xl:mb-200">

  <div class="relative w-full">
    {{ partial:components/media/image
      :image="image"
      :sizes="['md', 'lg', 'xl', '2xl']"
      preset="hero"
      class="w-full h-full aspect-[16/9] md:aspect-[16/8] xl:aspect-[16/6] 2xl:aspect-[16/5] object-cover"
      eager="true"
    }}
  </div>

  <div
    class="
      bg-light-blue
      relative
      sm:absolute
      sm:-bottom-60
      xl:-bottom-90
      left-0
      w-full
      max-w-[calc(80vw-var(--spacing-30))]
      sm:max-w-[calc(50vw-var(--spacing-30))]
      px-12
      md:px-24
      xl:pr-36
      py-24
      xl:py-40
      xl:pl-[calc(max((100vw-var(--max-width-inner-container))/2,0px)+var(--spacing-42))]
      md:animate-slide-in">

    <div
      class="
        block
        absolute
        top-0
        h-full
        bottom-0
        left-full
        w-64
        sm:w-64
        md:w-80
        xl:w-112
        2xl:w-128
        bg-light-blue
        origin-left
        scale-x-[1.01]
        [clip-path:polygon(0%_0%,100%_0%,0%_100%)]">
    </div>

    <div class="relative z-10 text-blue-black">

      {{ if title }}
        {{ partial:components/headings/h1 }}
          {{ title }}
        {{ /partial:components/headings/h1 }}
      {{ /if }}

      {{ if hero_editor_content }}
        {{ hero_editor_content }}
      {{ /if }}

    </div>

  </div>
</div>