<section class="my-40 md:my-80 xl:my-120" data-reveal>

  {{ partial:layout/container }}

  <div class="max-w-[80%]">
    <div>

      {{ if title_text_title }}
        {{ if title_text_heading_type == 'h2' }}
          {{ partial:components/headings/h2 class="mb-12 lg:mb-16" }}
            {{ title_text_title }}
          {{ /partial:components/headings/h2 }}
        {{ else }}
          {{ partial:components/headings/h1 }}
            {{ title_text_title }}
          {{ /partial:components/headings/h1 }}
        {{ /if }}
      {{ /if }}

      {{ if title_text_editor_content }}
        {{ partial:layout/article }}
          {{ title_text_editor_content }}
        {{ /partial:layout/article }}
      {{ /if }}

    </div>

    {{ if about_us_items }}
      <div class="mt-24 md:mt-32 lg:mt-40">
        {{ partial:components/icons/icon-set :items="about_us_items" }}
      </div>
    {{ /if }}
  </div>
  {{ /partial:layout/container }}

</section>