<section class="mt-20 md:mt-40 xl:mt-60">

  {{ partial:layout/container class="max-w-inner-container" }}

    <div class="md:max-w-[80%] xl:max-w-[70%]">

      {{ if title_text_title }}
        {{ if title_text_heading_type == 'h2' }}
          {{ partial:components/headings/h2 class="text-xl md:text-3xl xl:text-4xl 2xl:text-5xl font-medium mb-12 lg:mb-16" }}
            {{ title_text_title }}
          {{ /partial:components/headings/h2 }}
        {{ else }}
          {{ partial:components/headings/h1 class="font-medium text-2xl md:text-4xl xl:text-5xl 2xl:text-6xl leading-[1.1] mb-12 lg:mb-16" }}
            {{ title_text_title }}
          {{ /partial:components/headings/h1 }}
        {{ /if }}
      {{ /if }}

      {{ if title_text_editor_content }}
        {{ partial:layout/article }}
          {{ title_text_editor_content }}
        {{ /partial:layout/article }}
      {{ /if }}

    </div>

  {{ /partial:layout/container }}

</section>

<section class="my-40 md:my-60 xl:my-80">

  {{ partial:layout/container class="max-w-inner-container" }}

    <div class="grid grid-cols-12 gap-40 md:gap-60 xl:gap-80">

      <div class="col-span-12 md:col-span-5 flex flex-col gap-y-24 md:gap-y-32 xl:gap-y-40">

        <div>
          {{ partial:components/headings/h2 class="text-xl md:text-2xl xl:text-3xl font-medium mb-8 md:mb-12" }}
            {{ company:name }}
          {{ /partial:components/headings/h2 }}
          <div class="text-sm md:text-md">
            <a href="https://www.google.com/maps/search/?api=1&query={{ company:address | strip_tags | urlencode }}" target="_blank" class="underline-offset-4 hover:underline">
              {{ company:address | nl2br }}
            </a><br>
            {{ company:phone }}<br>
            <a href="mailto:{{ company:email }}" class="underline-offset-4 hover:underline">{{ company:email }}</a>
          </div>
        </div>

        <div>
          {{ partial:components/headings/h2 class="text-xl md:text-2xl xl:text-3xl font-medium mb-8 md:mb-12" }}
            Fundbüro
          {{ /partial:components/headings/h2 }}
          
          <div class="text-sm md:text-md mb-12 md:mb-16 xl:mb-20">
            <a href="https://www.google.com/maps/search/?api=1&query={{ lost_and_found:address | strip_tags | urlencode }}" target="_blank" class="underline-offset-4 hover:underline">
              {{ lost_and_found:address | nl2br }}
            </a>
          </div>

          <div class="mb-12 md:mb-16 xl:mb-20">
            <span class="block font-semibold mb-4">Öffnungszeiten</span>
            <div class="text-sm md:text-md">
              {{ lost_and_found:opening_hours | nl2br }}
            </div>
          </div>

          {{ partial:components/buttons/primary href="/fundbuero" variant="dark" }}
            Verlust melden
          {{ /partial:components/buttons/primary }}
        </div>

      </div>

      <div class="col-span-12 md:col-span-7 flex flex-col gap-y-40 md:gap-y-60 xl:gap-y-80">
        {{ if contact_image }}
          {{ partial:components/media/image
            :image="contact_image"
            :sizes="['md', 'lg', 'xl', '2xl']"
            class="w-full h-full object-cover"
            eager="false"
          }}
        {{ /if }}

        <div data-map class="w-full h-[300px] md:h-[400px] xl:h-[500px]"></div>

      </div>

    </div>

  {{ /partial:layout/container }}

</section>
